openapi: 3.0.3
info:
  title: ResilienceAI API
  description: |
    Disaster Vulnerability & Health Infrastructure Gap Assessment API.
    
    Provides access to county-level vulnerability scores, climate data,
    healthcare access metrics, and agricultural risk assessments.
    
    ## Features
    - **Vulnerability Scoring**: Composite risk scores based on social, climate, 
      healthcare, and infrastructure factors
    - **Real-time Alerts**: Weather alerts from NOAA NWS
    - **FHIR Export**: Health system integration via FHIR R4
    - **Webhooks**: Event-driven notifications
    - **GraphQL**: Flexible data querying (see /graphql endpoint)
    
    ## Authentication
    API keys can be obtained by registering at https://resilienceai.io/developer
    
    ## Rate Limiting
    - Free tier: 100 requests/minute
    - Pro tier: 1000 requests/minute
    - Enterprise: Custom limits
    
  version: 2.0.0
  contact:
    name: ResilienceAI Team
    email: api@resilienceai.io
    url: https://resilienceai.io/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.resilienceai.io/v2
    description: Production server
  - url: https://api-staging.resilienceai.io/v2
    description: Staging server
  - url: http://localhost:8080/v2
    description: Local development

tags:
  - name: Counties
    description: County data and vulnerability scores
  - name: Alerts
    description: Weather and vulnerability alerts
  - name: Export
    description: Data export functionality
  - name: Webhooks
    description: Webhook subscription management
  - name: Health
    description: Health and monitoring endpoints

paths:
  /counties:
    get:
      summary: List counties
      description: Get a paginated list of counties with optional filtering
      tags:
        - Counties
      parameters:
        - name: state
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{2}$'
            example: MO
          description: Two-letter state code
        - name: min_population
          in: query
          schema:
            type: integer
            minimum: 0
            example: 50000
          description: Minimum population filter
        - name: max_population
          in: query
          schema:
            type: integer
            minimum: 0
            example: 500000
          description: Maximum population filter
        - name: risk_level
          in: query
          schema:
            type: string
            enum: [critical, high, moderate, low, minimal]
          description: Filter by risk level
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
          description: Number of results to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Offset for pagination
      responses:
        '200':
          description: List of counties
          content:
            application/json:
              schema:
                type: object
                properties:
                  counties:
                    type: array
                    items:
                      $ref: '#/components/schemas/County'
                  total:
                    type: integer
                    description: Total number of counties matching filter
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  /counties/{fips}:
    get:
      summary: Get county by FIPS
      description: Get detailed information for a specific county
      tags:
        - Counties
      parameters:
        - name: fips
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
            example: "29189"
          description: 5-digit county FIPS code
      responses:
        '200':
          description: County details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountyDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /counties/{fips}/vulnerability:
    get:
      summary: Get vulnerability score
      description: Get detailed vulnerability assessment for a county
      tags:
        - Counties
      parameters:
        - name: fips
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
          description: County FIPS code
      responses:
        '200':
          description: Vulnerability assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityScore'
        '404':
          $ref: '#/components/responses/NotFound'

  /counties/{fips}/climate:
    get:
      summary: Get climate data
      description: Get climate and weather data for a county
      tags:
        - Counties
      parameters:
        - name: fips
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
          description: County FIPS code
      responses:
        '200':
          description: Climate data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClimateData'
        '404':
          $ref: '#/components/responses/NotFound'

  /counties/{fips}/healthcare:
    get:
      summary: Get healthcare access data
      description: Get healthcare infrastructure data for a county
      tags:
        - Counties
      parameters:
        - name: fips
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
          description: County FIPS code
      responses:
        '200':
          description: Healthcare access data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthcareAccess'
        '404':
          $ref: '#/components/responses/NotFound'

  /counties/compare:
    post:
      summary: Compare counties
      description: Compare vulnerability scores across multiple counties
      tags:
        - Counties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fips_list
              properties:
                fips_list:
                  type: array
                  items:
                    type: string
                    pattern: '^\d{5}$'
                  minItems: 2
                  maxItems: 10
                  example: ["29189", "29510", "29099"]
      responses:
        '200':
          description: Comparison results
          content:
            application/json:
              schema:
                type: object
                properties:
                  counties:
                    type: array
                    items:
                      $ref: '#/components/schemas/VulnerabilityScore'
                  ranking:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'

  /counties/most-vulnerable:
    get:
      summary: Get most vulnerable counties
      description: Get counties ranked by vulnerability score
      tags:
        - Counties
      parameters:
        - name: state
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{2}$'
          description: Filter by state
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
          description: Number of results
      responses:
        '200':
          description: List of vulnerable counties
          content:
            application/json:
              schema:
                type: object
                properties:
                  counties:
                    type: array
                    items:
                      $ref: '#/components/schemas/VulnerabilityScore'

  /alerts/weather:
    get:
      summary: Get active weather alerts
      description: Get active weather alerts from NOAA
      tags:
        - Alerts
      parameters:
        - name: state
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{2}$'
            example: MO
          description: Filter by state
        - name: severity
          in: query
          schema:
            type: string
            enum: [extreme, severe, moderate, minor]
          description: Minimum severity level
        - name: county
          in: query
          schema:
            type: string
          description: Filter by county name
      responses:
        '200':
          description: Active weather alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeatherAlert'
                  total:
                    type: integer
                  summary:
                    type: object
                    properties:
                      by_severity:
                        type: object
                        additionalProperties:
                          type: integer
                      by_event:
                        type: object
                        additionalProperties:
                          type: integer
                      highest_severity:
                        type: string
                      affected_counties:
                        type: array
                        items:
                          type: string

  /alerts/weather/stream:
    get:
      summary: Stream weather alerts
      description: Server-sent events stream of weather alert updates
      tags:
        - Alerts
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: string
            pattern: '^[A-Z]{2}$'
          description: State to monitor
      responses:
        '200':
          description: SSE stream of alerts
          content:
            text/event-stream:
              schema:
                type: string

  /export/fhir:
    post:
      summary: Export FHIR R4
      description: Export county data in FHIR R4 format
      tags:
        - Export
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - county_fips
              properties:
                county_fips:
                  type: string
                  pattern: '^\d{5}$'
                  example: "29189"
                format:
                  type: string
                  enum: [json, xml]
                  default: json
                include_history:
                  type: boolean
                  default: false
                  description: Include historical data
      responses:
        '202':
          description: Export initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                    format: uuid
                  status_url:
                    type: string
                    format: uri
                  estimated_completion:
                    type: integer
                    description: Estimated completion time in seconds
        '400':
          $ref: '#/components/responses/BadRequest'

  /export/fhir/{export_id}:
    get:
      summary: Get FHIR export status
      description: Check status of FHIR export job
      tags:
        - Export
      parameters:
        - name: export_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema:
                type: object
                properties:
                  export_id:
                    type: string
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]
                  progress:
                    type: integer
                    description: Percent complete
                  download_url:
                    type: string
                    format: uri
                  error:
                    type: string

  /webhooks:
    get:
      summary: List webhook subscriptions
      description: Get all webhook subscriptions for the authenticated user
      tags:
        - Webhooks
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
    
    post:
      summary: Create webhook subscription
      description: Create a new webhook subscription
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionInput'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'

  /webhooks/{subscription_id}:
    get:
      summary: Get webhook subscription
      description: Get details of a specific subscription
      tags:
        - Webhooks
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      summary: Delete webhook subscription
      description: Delete a webhook subscription
      tags:
        - Webhooks
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Subscription deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{subscription_id}/deliveries:
    get:
      summary: Get delivery history
      description: Get delivery history for a subscription
      tags:
        - Webhooks
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Delivery history
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  /health:
    get:
      summary: Health check
      description: Get API health status
      tags:
        - Health
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /health/ready:
    get:
      summary: Readiness probe
      description: Kubernetes readiness probe endpoint
      tags:
        - Health
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
        '503':
          description: Service not ready

  /health/live:
    get:
      summary: Liveness probe
      description: Kubernetes liveness probe endpoint
      tags:
        - Health
      responses:
        '200':
          description: Service is alive

  /metrics:
    get:
      summary: Prometheus metrics
      description: Get Prometheus-formatted metrics
      tags:
        - Health
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  /graphql:
    post:
      summary: GraphQL endpoint
      description: GraphQL API endpoint
      tags:
        - GraphQL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        '200':
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    County:
      type: object
      properties:
        fips:
          type: string
          example: "29189"
        name:
          type: string
          example: "St. Louis"
        state:
          type: string
          example: "MO"
        state_fips:
          type: string
          example: "29"
        population:
          type: integer
          example: 1001234
        area_sqkm:
          type: number
          example: 1343.2
        latitude:
          type: number
          example: 38.6270
        longitude:
          type: number
          example: -90.1994

    CountyDetail:
      allOf:
        - $ref: '#/components/schemas/County'
        - type: object
          properties:
            vulnerability:
              $ref: '#/components/schemas/VulnerabilityScore'
            climate:
              $ref: '#/components/schemas/ClimateData'
            healthcare:
              $ref: '#/components/schemas/HealthcareAccess'
            agriculture:
              $ref: '#/components/schemas/AgricultureData'

    VulnerabilityScore:
      type: object
      properties:
        county_fips:
          type: string
        overall_risk:
          type: string
          enum: [critical, high, moderate, low, minimal]
          example: high
        overall_score:
          type: number
          minimum: 0
          maximum: 100
          example: 75.5
        social_vulnerability:
          type: number
          example: 68.2
        infrastructure_risk:
          type: number
          example: 45.3
        climate_risk:
          type: number
          example: 82.1
        healthcare_risk:
          type: number
          example: 71.4
        agricultural_risk:
          type: number
          example: 55.0
        fema_expected_annual_loss:
          type: number
          example: 15000000
        fema_social_vulnerability:
          type: number
          example: 0.72
        fema_community_resilience:
          type: number
          example: 0.45
        intervention_priority:
          type: integer
          example: 15
        confidence:
          type: number
          example: 0.89
        risk_factors:
          type: array
          items:
            type: string
          example: ["High poverty rate", "Limited healthcare access"]

    ClimateData:
      type: object
      properties:
        county_fips:
          type: string
        current_temperature:
          type: number
          example: 72.5
        current_precipitation:
          type: number
          example: 0.0
        avg_max_temp:
          type: number
          example: 85.2
        avg_min_temp:
          type: number
          example: 45.3
        avg_precipitation:
          type: number
          example: 42.5
        annual_tornado_count:
          type: number
          example: 2.5
        annual_hail_events:
          type: number
          example: 5.2
        annual_flood_events:
          type: number
          example: 1.8
        current_drought_level:
          type: string
          example: D1
        drought_weeks:
          type: integer
          example: 12

    HealthcareAccess:
      type: object
      properties:
        county_fips:
          type: string
        total_hospitals:
          type: integer
          example: 15
        total_beds:
          type: integer
          example: 2500
        icu_beds:
          type: integer
          example: 150
        beds_per_1000:
          type: number
          example: 2.5
        avg_distance_to_hospital:
          type: number
          example: 8.5
        population_per_hospital:
          type: number
          example: 66749
        healthcare_access_score:
          type: number
          example: 65.2
        emergency_preparedness:
          type: number
          example: 78.5
        has_trauma_center:
          type: boolean
          example: true

    AgricultureData:
      type: object
      properties:
        county_fips:
          type: string
        major_crops:
          type: array
          items:
            type: string
          example: ["CORN", "SOYBEANS"]
        total_acres:
          type: integer
          example: 250000
        corn_yield:
          type: number
          example: 175.5
        soybean_yield:
          type: number
          example: 52.3
        drought_vulnerability:
          type: number
          example: 68.5
        crop_diversity_index:
          type: number
          example: 0.45

    WeatherAlert:
      type: object
      properties:
        id:
          type: string
          example: "urn:oid:2.49.0.1.840.0.1234"
        event:
          type: string
          example: "Severe Thunderstorm Warning"
        severity:
          type: string
          enum: [extreme, severe, moderate, minor, unknown]
          example: severe
        certainty:
          type: string
          example: Likely
        urgency:
          type: string
          example: Immediate
        headline:
          type: string
          example: "Severe Thunderstorm Warning issued for St. Louis County"
        description:
          type: string
        instruction:
          type: string
        area_description:
          type: string
          example: "St. Louis County; St. Charles County"
        affected_counties:
          type: array
          items:
            type: string
        effective:
          type: string
          format: date-time
        expires:
          type: string
          format: date-time
        sender:
          type: string
          example: "NWS St. Louis"

    WebhookSubscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [vulnerability.alert, weather.alert, climate.threshold, data.update, prediction.ready]
        county_fips:
          type: string
        state:
          type: string
        min_severity:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        last_delivered:
          type: string
          format: date-time
        delivery_count:
          type: integer
        failure_count:
          type: integer

    WebhookSubscriptionInput:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
          example: "https://example.com/webhook"
        events:
          type: array
          items:
            type: string
          example: ["vulnerability.alert", "weather.alert"]
        secret:
          type: string
          description: Secret for HMAC signature verification
        county_fips:
          type: string
          description: Filter to specific county
        state:
          type: string
          description: Filter to specific state
        min_severity:
          type: string
          enum: [critical, high, moderate, low]
          default: moderate

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
        event:
          type: string
        attempted_at:
          type: string
          format: date-time
        response_status:
          type: integer
        success:
          type: boolean
        retry_count:
          type: integer

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          example: healthy
        version:
          type: string
          example: 2.0.0
        timestamp:
          type: string
          format: date-time
        uptime_seconds:
          type: integer
        checks:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
              healthy:
                type: boolean
              last_check:
                type: string
                format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Bad Request"
            message: "Invalid FIPS code format"
            code: "INVALID_PARAMETER"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Not Found"
            message: "County with FIPS 99999 not found"
            code: "RESOURCE_NOT_FOUND"

    RateLimited:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Rate Limit Exceeded"
            message: "Too many requests, please try again later"
            code: "RATE_LIMITED"

  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication
    
    Bearer:
      type: http
      scheme: bearer
      description: JWT token for authentication

security:
  - ApiKey: []
